.catalogo {
  margin-top: 10vh;
  padding: 2rem;
  background-color:black;
  font-size: medium;
}
h2 {
  color: white; 
  text-align: center;
  font-size: 1rem;
}

.titulo {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
}
