.img-container {
  max-width: 50%;
  height:auto;
  margin: 0 auto;
  padding: 1rem;
  background-color: #565555;
  text-align: center;
  margin-bottom: 1rem;
} 
.imagen {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 5px;
}
.card {
  background-color: #302f2f;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(161, 160, 160, 0.5);
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.02);
}

.titulo {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.2rem;
  color: #e4de1c;
}

.autor {
  font-size: 1rem;
  color: #fdfbfb;
  margin-bottom: 0.5rem;
}

.descripcion {
  font-size: 0.9rem;
  color: #fcfafa;
  line-height: 1.4;
}
button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 5px;
  left: 15px;
}

button:hover {
  background-color: #011302;
}