.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: #2e2d2d;
  color: antiquewhite;
  padding: 20px;
  text-align: center;
}

.nav {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0;
  margin-top: 10px;
}

.nav a {
  color: antiquewhite;
  text-decoration: none;
  font-weight: bold;
}

.nav a:hover {
  color: #cfa45e;
}

.main {
  flex: 1;
  padding: 20px;
}