section.catalogo {
  background-color: #f9f6f6;
  padding: 2rem 0;
}

.titulo {
  font-size: 1.8rem;
  text-align: center;
  color: #d9d6d6;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  padding: 0 2rem;
}

/* Tarjeta de libro */
.libro {
  background-color: #2c2c2c;
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: inset 0 0 5px #4f4949;
}

.libro:hover {
  transform: translateY(-5px) scale(1.02);
  box-shadow: 0 8px 20px rgba(239, 64, 64, 0.4);
}

/* Imagen del libro */
.imagen {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
  margin-bottom: 1rem;
}

/* Título del libro */
.tituloLibro {
  margin: 0;
  font-size: 1.1rem;
  color: #f0f0f0;
}

/* Descripción del libro */
.descripcion {
  margin: 0;
  font-size: 0.9rem;
  color: #cfcfcf;
}