/* Encabezado general */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 15vh;
  background-color: black;
  z-index: 100;
}

/* Título principal */
h1 {
  text-align: center;
  font-size: 2rem;
  margin: 0;
  padding: 0;
}

/* Enlace dentro del h1 */
h1 a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Menú hamburguesa */
.hamburger-menu {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-family: Arial, sans-serif;
  border: #6e6d6d;

}

/* Botón hamburguesa */
.hamburger-menu button {
  background: none;
  color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

/* Opciones del menú */
.menu-options {
  position: absolute;
  top: 50px;
  right: 10px;
  background-color: rgb(12, 12, 12);
  padding: 10px;
  border: solid 1px #6e6d6d;
  border-radius: 15px;
  box-shadow: -15px 15px 15px rgba(190, 30, 30, 0.5);
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* Enlaces del menú */
.menu-options a {
  color: white;
  padding: 8px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.menu-options a:hover {
  background-color: #6e6d6d;
  border-radius: 10px;
}

/* Buscador */
.buscador-container {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  background-color: black;
  padding: 10px;
}

/* Input del buscador */
.buscador-container input {
  background: #2e2d2d;
  color: antiquewhite;
  border-radius: 10px;
  width: 60vw;
  height: 3vh;
  font-style: italic;
  border: none;
  padding: 5px 10px;
}

.buscador-container input:focus {
  outline: none;
  box-shadow: none;
  border: none;
  background-color: #2e2d2d; 
  color: antiquewhite;   
}

/* Botón de búsqueda */
.buscador-container button {
  background: rgb(109, 24, 24);
  color: antiquewhite;
  border-radius: 10px;
  width: 10vw;
  height: 4vh;
  font-style: italic;
  border: none;
  cursor: pointer;
}

/* Responsive */
@media screen and (min-width: 600px) {
  .menu-options {
    width: auto;
    top: 50px;
    right: 10px;
    border-radius: 10px;
  }
}