.footer {
  background-color: black;
  color: antiquewhite;
  padding: 10px;
  text-align: center;
  font-family: 'Segoe UI', sans-serif;
  border: none;
}

.footer-content {
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.footer-links {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-links a {
  color: antiquewhite;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #cfa45e;
}