main {
  background-color: black;
  color: antiquewhite;
  font-family: 'Segoe UI', sans-serif;
  padding: 20px;
  min-height: 90vh;
  margin-top: 10vh;
} 

h2 {
  text-align: center;
  color: white;
  font-size: large;
  font-weight: bold;
  margin-bottom: 20px;
}
form {
  background-color: black;
  padding: 40px;
  margin: auto;
  margin-top: 80px;
  max-width: 600px;
  color: antiquewhite;
  font-family: 'Segoe UI', sans-serif;
  box-shadow: 0 0 10px rgba(137, 136, 136, 0.5);
  border-radius: 10px;
}

form label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 14px;
  padding-top: 10 px;

}

form input {
  width: 100%;
  height: 15px;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 8px;
  background-color: #3a3a3a;
  color: antiquewhite;
  font-size: 14px;
}

form input::placeholder {
  color: #cfcfcf;
  font-style: italic;
}

form input:focus {
  outline: none;
  box-shadow: 0 0 5px #888;
  background-color: #4a4a4a;
}

form button {
  background-color: #591515;
  color: antiquewhite;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;  
}

form button:hover {
  background-color: #777;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 8px;
  background-color: #3a3a3a;
  color: antiquewhite;
  font-size: 14px;
  resize: vertical;
  margin-top: 10px;

}

a {
  margin: 10px;
  font-size: 14px;
  color: #ccc;
  text-decoration: none;
}

/*para el formulario de prestamos*/

div.descripcion-libro {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  max-width: 90%;
  align-items: center;
  text-align: center; 
  margin-left: 20px;
  gap: 10px;
  padding: 10px;
}
div.descripcion-libro img {
  max-width: 40%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 0 15px rgb(251, 255, 0);
}
