.libro {
  background-color: #3a3a3a;
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.2s ease;
  box-shadow: inset 0 0 5px #4f4949;
}

.libro img {
  width: 100%;
  max-width: 180px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.libro p {
  font-size: 0.9rem;
  color: antiquewhite;
}

.libro:hover {
  transform: scale(1.03);
}